<html lang="en">
<head>
   <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Cart Page">
        <meta name="Tech Website,Shop" content="Header,Images,Products,Technology,Shop">
  <title>Cart</title>
</head>

<body>
  <div class="cartCard">
    <main>
    <h1>Your Cart</h1>
    <div id="cart-container">
    </div>
    <p>Total: <span id="cart-total">€0.00</span></p>
    <p><a href="/shop">Continue Shopping</a></p>
  
</div>
</main>
</body>
</html>
