main{
    background-color: rgb(79, 146, 239);
    border-radius: 10px;
    margin: 5px;
}

.nav-link{
    margin-left: 100px;
    margin-top: 50px;
}
.navbar-collapse{
    background-color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-fluid{
    background-color: white;
}


.logo{
    border: solid black 2px;
    margin-left: 10px;
    border-radius: 10px;
    height: 90px;
    width: 90px;
}

.outerHeadings{
    margin-left: 10px;
    padding-top: 10px;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 1px black;
    text-align: center;
    color: rgb(255, 243, 5);
}
.card{
    margin-left: 20px;
}
.outerCardDiv{
    display: flex;
    gap: 20px;
}
.card-img-top{
    height: 400px;
}
.carouselPromo{
    width: 500px;
    display:inline-flex;

}

