main{
    background: linear-gradient(#000080, #0057B8, #4169E1, #87CEEB, #E0FFFF);
    border-radius: 10px;
    margin: 5px;
}

.nav-link{
    margin-left: 100px;
    margin-top: 50px;
}

.navbar-collapse{
    background: linear-gradient(#45457b, #0057B8, #4169E1, #87CEEB, #E0FFFF);
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 10px;
}
footer{
    text-align: center;
    color: black;
    background-color: white;
    font-size: 40px;
}
.container-fluid{
    background-color: white;
}
.logo{
    border: solid black 2px;
    margin-left: 10px;
    border-radius: 10px;
    height: 90px;
    width: 90px;
}

.outerHeadings{
    margin-left: 10px;
    padding-top: 10px;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 1px black;
    text-align: center;
    color: rgb(255, 243, 5);
}
.card{
    margin-left: 20px;
}
.promoPrice{
    font-size: 70px;
    font-weight: bold;
    color: red;
}
.outerCardDiv{
    display: flex;
    gap: 20px;
}
.card-img-top{
    height: 400px;
}
.carouselPromo{
    width: 500px;
    display:inline-flex;
}
#Heading{
    font-size: 50px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px black;
}
.shopProdTitle{
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
}
.shopCard{
    background-color: white;
    border-radius: 10px;
    border: solid black 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.shopImg{
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 10px;
}
.shopProdDesc{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;

}
.shopProdPrice{
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-align: left;
    margin-left: 10px;
}
.map{
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}
.contactCard{
    display: flex;
    background: linear-gradient(#000080, #0057B8, #4169E1, #87CEEB, #E0FFFF);
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}
.mb-3{
    width: 500px;
    margin-left: 20px;
    align-items: center;
    color: white;
    margin-top: 10px;
}
.loginBtn{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    border: 2px solid black;

}
.login{
    color: black;
    font-size: 16px;
}
.loginCard{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
#user-login{
    color: white;
    margin-left: 20px;
}
.paymentCard, .detailsCard, .cartCard{
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
    border: solid black 2px;
}
.cartBtn{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 20px;
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    border: 2px solid black;

}
.cart{
    color: black;
    font-weight: bold;
    font-size: 15px;

}
.checkoutBtn{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 20px;
    height: 40px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    border: 2px solid black;
}
.checkout{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.aboutCard{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(#000080, #0057B8, #4169E1, #87CEEB, #E0FFFF);

}
